body{
    max-width: 1400px;
    margin: 0 auto;
    padding:20px;
    font-family:'Roboto';
}
.contact-details{
    font-family:'Roboto';
    font-size:20px;
    padding:30px;
    text-align: left;
    background-color: #e5e7eb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.contact-cta{
    font-family:'Roboto';
    font-size:20px;
    padding:30px;
    margin-top:50px;
    text-align: left;
    background-color: #e5e7eb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    background-color:#3882f6;
}
.contact-cta p {
    margin-right: 10px;
    flex-grow:8;
    color:white;
  }

  .contact-cta button {
    padding: 8px 16px;
    color: #fff;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    flex-grow:2;
  }