* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
html {
    font-family: "Roboto";
}
body {
    min-height: 100vw;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: #1F2937;
    padding: 5px 100px;
    position: sticky;
}
.header-title {
    padding: 0.25rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.header-title h1 {
    color: #F9FAF8;
    font-size: 24px;
    /* max-width: 200px; */
}
.menu-button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
    background-color: #E5E7EB;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before, .menu-icon::after {
    content: "";
}
.menu-icon::before {
    transform: translate(-20px, -12px);
}
.menu-icon::after {
    transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) .menu-icon {
    background-color: transparent;
}
:is(header:hover, header:focus-within) .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
}
:is(header:hover, header:focus-within) .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within) nav {
    display: block;
}

header nav {
    background-color: #1F2937;
    display: none;
}

header ul {
    list-style-type: none;
    /* display: flex;
    flex-flow: column nowrap; */
}

header nav li {
    padding: 0.5rem;
    border-top: 1px solid #E5E7EB;
}

header nav a {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

header nav a:hover, header nav a:focus {
    transform: scale(1.2);
    transform: all 0.3s;
}

header a:hover {
    color: #3882F6;
}

.hero {
    /* width: 1400px; */
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #E5E7E7;
    margin-top: -100px;
    margin-left: -160px;
    margin-right: -160px;
    padding: 30px 100px;
} 

.hero img {
    width: 50%;
    border-radius: 5px;
}

.hero h1 {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero  p {
    font-size: 18px;
    color: #E5E7E7;
    padding: 10px 0;
    flex: 1;
}

.hero button {
    display: block;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 10px 0;
    cursor: pointer;
}

.hero button:hover {
    transform: scale(0.95);
}
.hero-image img {
    width: 300px;
}
main {
    min-height: 500px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: flex-end;
    color: #E5E7EB;
    font-size: large;
}
.social a {
    color: #E5E7E7;
    align-items: flex-end;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 5px 0;
    padding: 5px;
}
main {
    padding-left: 10rem;
    padding-right: 10rem ;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#1f2937;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color:#1f2937;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.divOffers,
.divExplore {
    display: flex;
    justify-content: space-between;
}

.figureCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgCards{
    width: 300px;
    height: 200px;   
    border-radius: 10px;
}

button{
    background-color: #3882f6;
    color: white;
    border: 0 none;
    border-radius: 5px;
    height: 30px;
    z-index: 1;
    width: 110px;
}

.buttonParis {
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 0;
    width: 160px;
    font-size: 16px;
    height: 40px;
    margin: 15px 0 0 180px;
}
.figure {
    height: 12rem;
    width: 16rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #E5E7EB;
}

.quote{
    text-align: center;
    background-color: #e5e7eb;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.quote p{
    font-size: 18px;
    line-height: 1.6;
    color: #374151;
    font-style: italic;

}


.parisDiv{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    flex-direction: row; 
}

.helpDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    flex-direction: row; 
    background-color: #3882f6;
    color: white;
    height: 6rem;
    border-radius: 10px;
    width: 40rem;

}

.buttonHelp{
    border-color: white;
    border: solid 2px;
    margin-left: 20px;
}

h1{
    font-size: 36px;
    color: #1f2937;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin-top: auto;
    color: #E5E7EB;
    max-width: 100vw;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
}

.wrapper ul {
    list-style: none;
}
footer .wrapper {
 margin: auto;
 padding: 20px 0;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
}
.footer-col h4 {
    font-size: 16px;
    color: #F9FAF8;
}

.footer-col ul li a {
    font-size: 14px;
    color: #F9FAF8;
    text-decoration: none;
    font-size: 12px;
}
.footer-col ul a:hover {
    color: #3882F6;
    padding-left: 10px;
    transform: scale(0.95);
}
.footer-col p {
    color: #F9FAF8;
    font-size: 12px;
    padding-top: -10px;
    margin-top: -12px;
}
.footer-col .socials a {
    color: #F9FAF8;
    padding: 5px 20px 0 0;
}
.footer-col .socials a:hover {
    color: #3882f6;
}
.copyright {
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    header {
        padding: 20px 100px; 
        display: flex;
        justify-content: space-between;
    }
    header .menu-button {
        display: none;
    }
    
    header nav {
        display: flex;
    }
    header nav li {
        border-top: none;
        display: flex;
    }
    header nav ul {
        display: flex;
        justify-content: space-between; 
    }
    header nav a:hover, header nav a:focus {
        transform: scale(0.95);
    }
  
    .hero {
        display: flex;
        flex-direction: row;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero p {
        margin-right: 50px;
        padding-right: 20px;
    }
    .hero img {
        width: 350px;
        height: auto;
    }

    main {
        min-height: max-content;
    }
}